body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #18582e;
    color: #ffffff;
    margin: 0;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #3c975b;
    margin-top: 10px;
}

.card h2 {
    font-size: 1.4rem;
    margin: 0;
}

.card p {
    margin: 10px 0;
    font-style: italic;
}

#newQuoteButton {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3c975b;
    color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
